@font-face {
   font-family: 'LawyerGothic-Bold';
   font-display: swap;
   src: url('file:///Users/tooncierpial/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-06-23_225803/fonts/LawyerGothic-Bold/font.ttf');
}
